.footer {
	padding: 2rem 0;
	background: #2a2a2a;
}

.footer .logo {
	max-width: 60%;
}

/* Disclaimer/legal text styling */
.footer .disclaimer-text {
	padding: 1rem 0;
	font-size: 16px;
}

.footer .badge-container {
	display: flex;
	justify-content: flex-end;
}

/* Row containing all the social icons */
.footer .social-row {
	display: flex;
	justify-content: center;
}

/* Styling for the social icons */
.footer .fa {
	padding: 20px;
	font-size: 20px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin: 1rem 10px 0 10px;
	border-radius: 50%;
	color: white;
	transition: 0.2s ease; /* Amount of time for hover effect to take place */
}

/* social icon hover effect */
.footer .fa:hover {
	opacity: 0.7;
}

.footer .fa-facebook {
	background: #3b5998;
}

.footer .fa-twitter {
	background: #55acee;
}

.footer .fa-instagram {
	background: #125688;
}

.footer .fa-linkedin {
	background: #007bb5;
}
.footer .fa-youtube {
	background: #bb0000;
}

.footer .fa-envelope-o {
	background: #dd4b39;
}

/* makes sure no underline when hovered over */
.footer .social-row a:hover {
	text-decoration: none;
}

@media (max-width: 990px) {
	.footer .logo {
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.footer .logo {
		max-width: 60%;
		margin-left: 15%;
	}
	.footer .badge-container {
		display: flex;
		justify-content: center;
		margin: 2vh 0;
	}
	.footer .disclaimer-text {
		padding: 1vh 5%;
		font-size: 22px;
		text-align: center;
	}
}

@media (max-width: 350px) {
	.footer .fa {
		padding: 10px;
		font-size: 15px;
		width: 30px;
		height: 30px;
	}
	.footer .disclaimer-text {
		font-size: 18px;
	}
}
