.dropdown-toggle::after {
  display: none !important; 
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  margin-left: 0 !important;
  vertical-align: 0 !important;
  content: none !important;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-toggle:hover {
  text-decoration: underline;
  text-decoration-color: #0056b3;
}


div.dropdown-menu.show {
  background-color: #000000;
  border: none;
}

.dropdown-item:hover {
  background-color:#000000;
  text-decoration: underline;
  text-decoration-color: #0056b3;
}

.dropdown-item {
  text-align: center;
}

@media (min-width: 768px) {
  .dropdown-menu {
      width: 15rem; /* JUST FOR STYLING PURPOSE OF DROPDOWN */
      position: absolute;
      left: 50% !important;
      transform: translateX(-50%) !important;
  }
}