.dropdown-toggle::after {
  display: none !important; 
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  margin-left: 0 !important;
  vertical-align: 0 !important;
  content: none !important;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-toggle:hover {
  
  text-decoration: underline;
  text-decoration-color: #0056b3;
}

#nav-dropdown {

  color: red;
}

div.dropdown-menu.show {
  background-color: #1C1C1C; 
}